<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>VulScanWare</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
    </head>
    <header id="phaseHeader">
        VulScanWare – Security Intelligence Console
    </header>
    <body class="bg-gray-950 text-gray-200 font-mono selection:bg-cyan-500 mt-0">
        <div class="p-8 max-w-8xl mx-auto">
            <!-- Start Input Section -->
            <div class="card d-flex flex-column align-items-center justify-content-center text-center mt-0">
                Target:
                <input class="bg-gray-800 p-3 rounded-xl" id="target" style="width:55%"
                       type="text"
                       placeholder="Enter website URL (https://example.com)"
                       default="http://192.168.1.11/mutillidae/index.php?page=home.php"
                       class="flex-1 p-3 bg-gray-900 rounded border border-gray-700 text-white">
                Crawl Limit:
                <input class="bg-gray-800 p-3 rounded-xl" id="urlLimit" type="number" value="25" min="1" style="width:80px">
                Depth:
                <input class="bg-gray-800 p-3 rounded-xl" id="depthLimit" type="number" value="2" min="1" style="width:80px">
                <button id="scanBtn" onclick="handleScan()"
                        class="bg-cyan-500 px-6 py-3 rounded-xl text-black font-bold hover:bg-cyan-100">
                    Scan
                </button>
                <button id="stopBtn" onclick="handleStop()"
                        class="bg-red-500 px-6 py-3 rounded-xl text-black font-bold hover:bg-red-100">
                    Stop
                </button>
            </div>
            <!-- End Input Section -->

            <!-- Start Progress Bar -->
            <div class="d-flex flex-column align-items-center justify-content-center text-center mb-2">
                <span id="phaseIndicator" style="font-size:20px;"></span></div>
                <div class="shadow-lg shadow-blue-500/20"
                     style="background:#1e293b;height:12px;border-radius:6px;margin-left: 20px;margin-right:20px;">
                <div id="progressBar" style="height:12px;width:0%;background:#38bdf8;border-radius:6px;transition:width 0.4s;"></div>
            </div>

            <!-- Start Metrics Cards -->
            <div class="card d-flex flex-column align-items-center justify-content-center text-center">
                <div class="grid grid-cols-10 gap-6 mb-2 mt-2">
                    <div class="bg-gray-800 p-2 rounded-xl">
                        <h2>Status</h2>
                        <p id="status" class="text-l text-cyan-400">Idle</p>
                    </div>
                    <div class="bg-gray-800 p-2 rounded-xl">
                        <h2>Links</h2>
                        <p id="totalLinks" class="text-l text-pink-400">0</p>
                    </div>
                    <div class="bg-gray-800 p-2 rounded-xl">
                        <h2>Critical</h2>
                        <p id="critCount" class="text-l text-red-500">0</p>
                    </div>
                    <div class="bg-gray-800 p-2 rounded-xl">
                        <h2>High</h2>
                        <p id="highCount" class="text-l text-orange-400">0</p>
                    </div>
                    <div class="bg-gray-800 p-2 rounded-xl">
                        <h2>Medium</h2>
                        <p id="medCount" class="text-l text-yellow-400">0</p>
                    </div>
                    <div class="bg-gray-800 p-2 rounded-xl">
                        <h2>Low</h2>
                        <p id="lowCount" class="text-l text-green-400">0</p>
                    </div>
                    <div class="bg-gray-800 p-2 rounded-xl">
                        <h2>Exposure</h2>
                        <p id="attackSurface" class="text-l text-purple-400">0</p>
                    </div>
                    <div class="bg-gray-800 p-2 rounded-xl">
                        <h2>Menace</h2>
                        <p id="threatIndex" class="text-l text-red-400">0</p>
                    </div>
                    <div class="bg-gray-800 p-2 rounded-xl">
                        <h2>Risk</h2>
                        <p id="riskLevelKPI" class="text-l text-red-400">0</p>
                    </div>
                    <div class="bg-gray-800 p-2 rounded-xl">
                        <h2>Duration</h2>
                        <p id="timeTaken" class="text-l text-cyan-400">0</p>
                    </div>
                </div>
            </div>
            <!-- End Metric Cards -->

            <!-- Start Live Vulnerability Analysis Charts | Threat / Risk Level Gauges | Heatmap -->
            <div class="card d-flex flex-column align-items-center justify-content-center text-center">
                <div class="grid grid-cols-3">
                    <div class="card bg-gray-800 p-3 rounded-xl shadow-md shadow-blue-500/20">
                        <h3>Attack Density (Vulns / Second)</h3>
                        <canvas id="densityChart"></canvas>
                    </div>
                    <div class="card bg-gray-800 p-3 rounded-xl shadow-md shadow-blue-500/20">
                        <h3>Severity Distribution</h3>
                        <canvas id="severityChart"></canvas>
                    </div>
                    <div class="card bg-gray-800 p-3 rounded-xl shadow-md shadow-blue-500/20">
                        <h3>XSS Type Distribution</h3>
                        <canvas id="typeChart"></canvas>
                    </div>
                </div>
            </div>
            <!--//-->
            <div style="height: 30%" class="card d-flex flex-column align-items-center justify-content-center text-center">
                <div class="grid grid-cols-3">
                    <div class="card bg-gray-800 p-3 rounded-xl shadow-md shadow-blue-500/20">
                        <h3>Overall Risk Score</h3>
                        <canvas id="riskDial"></canvas>
                        <div style="text-align:center;font-size:20px;margin-top:10px;">
                            Risk Level: <span id="riskLevel">LOW</span>
                        </div>
                    </div>
                    <div class="card bg-gray-800 p-3 rounded-xl shadow-md shadow-blue-500/20">
                        <h3>Vulnerability Heatmap</h3>
                        <div id="heatmap"
                           style="display:grid;
                              grid-template-columns:repeat(auto-fill,minmax(120px,1fr));
                              gap:10px;
                                max-height:360px;
                                max-width:100%;
                               overflow-y:auto;
                               font-family:monospace;
                               font-size:13px;
                               background:#020617;
                               padding:10px;
                               border-radius:6px;
                               margin-top: 10px;
                               margin-bottom: 10px;
                            ">
                        </div>
                    </div>
                    <div class="card bg-gray-800 p-3 rounded-xl shadow-md shadow-blue-500/20">
                        <h3 class="mb-2">Threat Index</h3>
                        <canvas id="threatGauge"></canvas>
                        <div style="text-align:center;font-size:20px;margin-top:10px;">
                           Threat Level: <span id="threatScore">0</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--//-->
            <div class="card d-flex flex-column align-items-center justify-content-center">
                <div class="grid">
                    <div class="card bg-gray-800 p-3 rounded-xl shadow-md shadow-blue-500/20">
                        <h3 class="mb-2">Live Vulnerabilities</h3>
                        <div id="vulnFeed"
                            style="
                               max-height:360px;
                               overflow-y:auto;
                               font-family:monospace;
                               font-size:13px;
                               background:#020617;
                               padding:10px;
                               border-radius:6px;
                             ">
                        </div>
                    </div>
                    <div class="card bg-gray-800 p-3 rounded-xl shadow-md shadow-blue-500/20">
                        <h3>Top Vulnerable Endpoints</h3>
                        <div id="endpointRanking"
                           style="
                           font-family:monospace;
                           font-size:13px;
                           margin-top:10px;
                           background:#020617;
                           padding:10px;
                           border-radius:10px;
                            ">
                        </div>
                    </div>
                </div>
            </div>
            <!--//-->
            <div class="card d-flex flex-column align-items-center justify-content-center">
               <div class="card bg-gray-800 p-3 rounded-xl shadow-md shadow-blue-500/20">
                    <h3>Live Attack Timeline</h3>
                    <canvas id="timelineChart"></canvas>
                </div>
            </div>
            <!-- End Live Vulnerability Analysis Charts | Threat / Risk Level Gauges | Heatmap -->

            <!-- Start AI Remediation Panel-->
            <div class="card d-flex flex-column align-items-center justify-content-center">
                <div class="card bg-gray-800 p-3 rounded-xl shadow-md shadow-blue-500/20" id="aiSection">
                    <h3>AI Remediation Panel</h3>
                    <div id="aiVulnList"
                       style="
                            max-height:700px;
                           overflow-y:auto;
                           font-family:monospace;
                           font-size:13px;
                           background:#020617;
                           padding:10px;
                           border-radius:6px;
                           margin-top: 10px;
                           margin-bottom: 10px;
                        ">
                    </div>
                    <button id="aiBtn" onclick="openAISection()" disabled
                            class="bg-pink-500 px-6 py-3 rounded-xl text-black font-bold hover:bg-pink-100">
                        Open Panel
                    </button>
                    <button onclick="generateSelectedAI(this)"
                        class="bg-green-500 px-6 py-3 mt-2 rounded-xl text-black font-bold hover:bg-green-100">
                        Generate Fix
                    </button>
                    <button onclick="generateTop3(this)"
                        class="bg-cyan-500 px-6 py-3 mt-2 rounded-xl text-black font-bold hover:bg-cyan-100">
                        Generate Top 3
                    </button>
                </div>
            </div>
            <!-- End AI Remediation Panel-->
        </div>

    <!-- JavaScript -->
    <script src="{{ url_for('static', path='js/main.js') }}"></script>
    </body>
</html>